@import "variables";

.mdl-calendar {
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    background-color: $color-white;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;

    @include shadow();
}

.mdl-calendar.is-visible {
    display: flex;
}

.mdl-calendar__header,
.mdl-calendar__body,
.mdl-calendar__footer,
.mdl-calendar__bookings {
    padding: 18px;
}

.mdl-calendar__button {
    cursor: pointer;
    color: $color-gray;
    font-size: 1em;
    line-height: 1;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}

.mdl-calendar__header {
    color: $color-white;
    background-color: $color-primary;
}


.mdl-calendar__header-year,
.mdl-calendar__body .mdl-calendar__body-month {
    display: flex;
    margin: 0;
}

.mdl-calendar__header-year {
    color: $color-primary-100;
}

.mdl-calendar__header .mdl-calendar__year,
.mdl-calendar__body .mdl-calendar__body-month-title {
    flex: 1;
    text-align: center;
    padding: 0;
    margin: 0;
}

.mdl-calendar__header .mdl-calendar__button {
    color: $color-gray-300;
}

.mdl-calendar__header-fulldate {
    font-size: 2em;
    padding: 0;
    margin: 20px 0 0
}

.mdl-calendar__content {
    position: relative;
    box-sizing: border-box;
}


.mdl-calendar__booking {
    display: none;
    position: relative;
    overflow-y: scroll;
    width: 100%;
    height: 400px;
    background-color: $color-white;
    box-sizing: border-box;

    @include shadow();
}

.mdl-calendar__booking.is-visible { display: block }


.mdl-calendar__booking-header {
    padding: 1.5em;
}

.mdl-calendar__booking-header-title {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
}

.mdl-calendar__booking-grid {
    position: absolute;
    left: 18px;
    right: 18px;
}

.booking-grid__item {
    display: block;
    cursor: pointer;
    height: 29px;
    border-top: 1px solid $color-gray-300;
}

.booking-grid__item.booking-grid__item--hour {
    border-color: $color-primary-300;
}

.booking-grid__item-hour {
    float: left;
    color: $color-gray-500;
    line-height: 29px;
    width: 50px;
}

.booking-grid__item-selectable {
    margin: 0 22px 0 54px;
    height: 29px;
}

.booking-grid__item-selectable:hover {
    background-color: $color-gray-100;
}

.mdl-calendar__booking-events {
    position: relative;
}

.mdl-calendar__booking-event {
    position: absolute;
    left: 54px;
    right: 22px;
    padding: .4em;
    color: $color-primary-700;
    background-color: $color-primary-100;
    border: 1px solid $color-primary-300;
    box-sizing: border-box;
}

.mdl-calendar__booking-event.event--travel {
    color: $color-secondary-700;
    background-color: $color-secondary-100;
    border-color: $color-secondary-300;
}

.mdl-calendar__body .mdl-calendar__body-month { font-weight: 500 }

.mdl-calendar__body-month,
.mdl-calendar__week-labels { margin-bottom: 6px }

.mdl-calendar__week {
    display: flex;
    justify-content: space-between;
}

.mdl-calendar__week-item {
    flex: 1;
    display: block;
    font-weight: 500;
    text-align: center;
    width: 42px;
    height: 42px;
    line-height: 42px;
    padding: 0;
    margin: 2px 1px;
    border-radius: 50%;
    background: none;
    border: none;
    box-sizing: border-box;
}

.mdl-calendar__week-item,
.mdl-calendar__week-item:focus,
.mdl-calendar__week-item:hover { outline: none }

.mdl-calendar__week-item:hover:not(.is-disabled):not(.mdl-calendar__week-label),
.mdl-calendar__week-item.is-selected {
    cursor: pointer;
    color: $color-white;
    background-color: $color-primary
}

.mdl-calendar__week-item.is-disabled,
.mdl-calendar__week-item.mdl-calendar__week-label {
    color: $color-gray-400;
}

.mdl-calendar__week-item.mdl-calendar__week-label { font-weight: normal }

.mdl-calendar__week-item.mdl-calendar__day-today {
    color: $color-primary;
    background-color: $color-gray-200;
}

.mdl-calendar__footer { text-align: right }

/**
 * Toggle Actions
 */
.mdl-calendar__year--next,
.mdl-calendar__year--prev,
.mdl-calendar__month--next,
.mdl-calendar__month--prev { display: none; }

.mdl-calendar__year--next.is-visible,
.mdl-calendar__year--prev.is-visible,
.mdl-calendar__month--next.is-visible,
.mdl-calendar__month--prev.is-visible { display: flex; }
